$white: #fff;
$yellow: #f0f007;
$rojo: #ff9d96;
$verde: #d5ffd4;


@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    color: $white;
    font-weight: bold;
    background-image: url("/images/hotel-1111199_1920.jpg");
    background-size: cover;
    background-position: center;

    @include margenes(50px, 0);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    
    @include margenes(10px, 0)
}

.card-hotel {
    flex: 1 200px;
    padding: 2px 0px;
    background-color: $verde;
    
    @include margenes(10px, 0)
}

.btn-reserva {
    width: 100%;
    border-radius: 0;
}

.footer-address-icon, .button-icon {
    padding-right: 10px;
    color: $rojo;
}

.tab-content {
    @include margenes(10px, 0)
}