.jumbotron {
    color: white;
    font-weight: bold;
    margin-top: 50px;
    background-image: url("/images/hotel-1111199_1920.jpg");
    background-size: cover;
    background-position: center;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px;
    padding: 2px 0px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0;
}

.footer-address-icon, .button-icon {
    padding-right: 10px;
}
